#!/bin/bash

###
# Export the `ENV` environment variable.
# Copy this file as $ENV-env.
# When running scripts in this directory will load the $ENV-env instead of this file.
##

###
# You can set the versions to force certain versions of each release or stemcell.  If left blank, the latest will be used.
##
# export BOSH_RELEASE_VERSION=
# export VSPHERE_CPI_RELEASE_VERSION=
# export OS_CONF_RELEASE_VERSION=
# export UAA_RELEASE_VERSION=
export CREDHUB_RELEASE_VERSION=1.7.2
# export CONCOURSE_RELEASE_VERSION=
export GARDEN_RUNC_RELEASE_VERSION=1.12.1
# export POSTGRES_RELEASE_VERSION=
# export CONSUL_RELEASE_VERSION=
# export VAULT_RELEASE_VERSION=
# export UBUNTU_STEMCELL_VERSION=
##

###
# If set to true, concourse releases will be taken from the latest version from the latest `concourse-deployment/versions.yml` instead of setting the versions themselves.  Note that the latest version.yml keeps compatible versions together.  If setting each version through configurations, make sure they are compatible with each other.
##
export CONCOURSE_RELEASES_LATEST=true
##

###
# Export a different location to store files.  Defaults to the parent directory of this script's directory.
##
# export OUTPUT_DIRECTORY=
##

###
# The repositories to pull code from.  These will be placed in the `VENDOR_DIRECTORY` and pulled each time they are needed.
##
export BOSH_DEPLOYMENT_REPOSITORY=https://github.com/cloudfoundry/bosh-deployment
export CONCOURSE_DEPLOYMENT_REPOSITORY=https://github.com/concourse/concourse-deployment
##

# The alias to set for bosh commands `bosh -e $BOSH_ALIAS`.  This also determines the name of the directory to use within `OUTPUT_DIRECTORY`.
export BOSH_ALIAS=concourse-bosh

###
# Network configurations
##
export NETWORK_CIDR=172.16.0.0/23
export NETWORK_GATEWAY=172.16.0.1
export BOSH_IP=172.16.1.30
export DNS_SERVERS=172.16.1.3

export AZ_NAME= # Logical Name for AZ
export NETWORK_NAME= # Logical Name for network

export TRUSTED_CERT_FILE=

export INSECURE_SKIP_VERIFY=true
##

###
# VSphere configurations
##
export VSPHERE_DATACENTER=
export VCENTER_NETWORK_NAME=
export VCENTER_STORAGE_NAME=
export VCENTER_IP=
export VCENTER_USERNAME=
export VCENTER_PASSWORD=
export VCENTER_VM_TEMPLATES_FOLDER_NAME=cc_templates
export VCENTER_VMS_FOLDER_NAME=cc_vms
export VCENTER_DISK_FOLDER_NAME=cc_disks
export VCENTER_CLUSTER_NAME=
export VCENTER_RESOURCE_POOL=
export VM_DISK_TYPE=
##

###
# Vault configurations
##
export VAULT_ADDR=http://127.0.0.1:8200
export VAULT_INSTANCES=3
export VAULT_AZ_NAME=$AZ_NAME
export VAULT_NW_NAME=$NETWORK_NAME
export VAULT_STATIC_IPS=172.16.1.32-172.16.1.34 # Block of static IP's for Vault
export VAULT_VM_TYPE=small.disk
export VAULT_DISK_TYPE=xlarge
export VAULT_LOAD_BALANCER_URL=$VAULT_ADDR
export VAULT_TCP_PORT=80

# optional (will be auto-generated if not specified)
export VAULT_SERVER_CERT_FILENAME=
export VAULT_PRIVATE_KEY_FILENAME=

# path to a PEM-encoded trusted cert chain for Vault CLI
# (uncomment and fill in if required)
# export VAULT_CACERT=

export VAULT_POLICY_NAME=cc-policy

##

###
# Concourse configurations
##
# The credentials manager for concourse
export CREDENTIAL_MANAGER=credhub # credhub|vault|leave blank

export CONCOURSE_PATH_PREFIX=/concourse

export CONCOURSE_AZ_NAME=$AZ_NAME
export CONCOURSE_NW_NAME=$NETWORK_NAME
export CONCOURSE_WEB_STATIC_IPS=172.16.1.35 # Block of static IP's for Concourse Web
export CONCOURSE_DB_STATIC_IPS=172.16.1.36 # Block of static IP's for Concourse DB
export CONCOURSE_WORKER_STATIC_IPS=172.16.1.37 # Block of static IP's for Concourse Workers
export CONCOURSE_FQDN=concourse.example.io
export CONCOURSE_EXTERNAL_URL=https://$CONCOURSE_FQDN
export CONCOURSE_ADMIN_USERNAME=admin
export CONCOURSE_ADMIN_PASSWORD=admin

export CONCOURSE_TLS_CERT_FILE=
export CONCOURSE_TLS_KEY_FILE=

export ATC_WEB_INSTANCES=1
export ATC_WEB_VM_TYPE=micro.disk
export CONCOURSE_DB_INSTANCES=1
export CONCOURSE_DB_VM_TYPE=small.disk
export CONCOURSE_DB_PERSISTENT_DISK_TYPE=xlarge
export CONCOURSE_WORKER_INSTANCES=1
export CONCOURSE_WORKER_VM_TYPE=xlarge.disk
export TLS_BIND_PORT=443

export RESERVED_IPS="[\"172.16.0.0-172.16.1.30\"]"
export CLOUD_CONFIG_STATIC_IPS=172.16.1.32-172.16.1.41 # Block all the static IP's used here in this deployment
##

###
# Proxy configurations
##
export HTTP_PROXY_REQUIRED=false # true or false
export HTTP_PROXY=
export HTTPS_PROXY=
export NO_PROXY_PATTERN='10.198.159.{0..127}'
##
